// @import compass
// @import normalize
// @import h5bp
@import compass
@import compass_twitter_bootstrap
@import compass_twitter_bootstrap_responsive

$white : white
$black : black
$blue : #0a88d0
$border-grey : #a79494
$light-grey : #efefef
$color-orange : orange
$yellow : yellow

// shadow color
$default-box-shadow-color : lighten($black, 80%)
// 
// +establish-baseline

+font-face("Poplar Std", font-files("poplarstd.otf"))
+font-face("Port sans", font-files("PortLligatSans-Regular.ttf"))

// +h5bp-display
// +h5bp-selection
// +h5bp-base
// +h5bp-links
// +h5bp-typography
// +h5bp-lists
// +h5bp-embeds
// +h5bp-figures
// +h5bp-forms
// +h5bp-tables

// ==============================================================
// Something that use defines
// ==============================================================
body
  background : image-url("bg-func.png") repeat-x

header
  margin-top : 40px
  
  h1
    text-align: center
    font-family : "Poplar Std", sans-serif
    font-size: 9em
    line-height : 1.1em

.blue
  color : $blue


#main
  margin-top : 10px 

#lettering
  padding : 10px
  p
    font-family : "Poplar Std", sans-serif
    font-size : 10em
    line-height : 0.9em
    

.middle
  +bootstrap-center-block
  
#refillus
  h2
    color : $white
    margin: 10px 0px 10px 10px

// ==============================================================
// Something that use defines
// ==============================================================
// +h5bp-helpers
// +h5bp-chromeframe
// +h5bp-media