*.pyc

*.pyo

*.db

.DS_Store

.coverage

local_settings.py

static
_templates
static

src/*.pyc

src/*.pyo

src/*.db

src/.DS_Store

src/.coverage

src/local_settings.py

src/static
_templates
src/static