{% load i18n future pages_tags %}
{% spaceless %}
<article class="navigation">
<ul>
	{% for page in page_branch %}
		{% if not has_home and page.is_primary and forloop.first %}
    	<li>
    		<a class="{% if on_home %}active{% endif %}" href="{% url "home" %}">{% trans "Home" %}</a>
    	</li>
    {% endif %}
    {% if page.in_menu %}
  		<li><a class="{% if page.is_current or page.is_current_or_ascendant %}active{% endif %}" href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
		{% endif %}
	{% endfor %}
</ul>
</article>
{% endspaceless %}