{% extends "base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags %}


{% block meta_title %}{% if page %}{{ page.richtextpage.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}


{% block main %}
<div class="timeline"></div>
{% for blog_post in blog_posts.object_list %}
    {% if blog_post.choose_template == 1 %}
    {# without image template #}
        <section class="main">
            <!-- first article -->
            <article class="col-lg-11 col-md-11 col-sm-11 col-xs-12 with-arrow">
                <section class="timestamp">
                    <div id="stamp">
                        <a class="hidden-xs" href="#"><span class="icon-flag icon-large icon-light"></span></a>
                        <a class="visible-xs" href="#"><span class="icon-flag icon-light"></span></a>
                        <div class="meta-time">
                            <div class="date">{{ blog_post.publish_date|date:"d" }}</div>
                            <div class="age">
                                <div class="month">{{ blog_post.publish_date|date:"M" }}</div>
                                <div class="year">{{ blog_post.publish_date.year }}</div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="box">
                    <div class="meta-data">
                        {% with blog_post.categories.all as categories %}
                        {% if categories %}
                        {% for category in categories|slice:":2" %}
                        <div class="author">
                            <h4>#{{ category }} </h4>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        {% keywords_for blog_post as tags %}
                        {% if tags %}
                        {% spaceless %}
                        <ul class="categories">
                            {% for tag in tags|slice:":3" %}
                            <li><a href="#"><i class="icon-bookmark"></i>{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endspaceless %}
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                        <div class="intro">
                            {% editable blog_post.title %}
                                <h1>
                                    <a href="{{ blog_post.get_absolute_url }}">
                                        {{ blog_post.title }}
                                    </a>
                                </h1>
                            {% endeditable %}
                        </div>
                        {% editable blog_post.content %}
                        <div class="text">
                            {{ blog_post.description_from_content|truncatewords_html:100|safe }}
                        </div>
                        {% endeditable %}
                    <hr>
                    <div class="read-more">
                        <a href="{{ blog_post.get_absolute_url }}">{% trans "Read More.." %}</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </article>
            <!-- end of first article -->
            <div class="clearfix"></div>
        </section>    
    {% elif blog_post.choose_template == 2 %}
    {# with big image template #}
        <section class="main">
            <!-- first article -->
            <article class="col-lg-11 col-md-11 col-sm-11 col-xs-12 with-arrow">
                <section class="timestamp">
                    <div id="stamp">
                        <a class="hidden-xs" href="#"><span class="icon-flag icon-large icon-light"></span></a>
                        <a class="visible-xs" href="#"><span class="icon-flag icon-light"></span></a>
                        <div class="meta-time">
                            <div class="date">{{ blog_post.publish_date|date:"d" }}</div>
                            <div class="age">
                                <div class="month">{{ blog_post.publish_date|date:"M" }}</div>
                                <div class="year">{{ blog_post.publish_date.year }}</div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="box">
                    {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                    {% block blog_post_list_post_featured_image %}
                    <div class="fixed-img padding-bottom-20">
                        <img src="{{ MEDIA_URL }}{{ blog_post.featured_image }}" alt="" class="img-responsive">
                    </div>
                    {% endblock %}
                    {% endif %}
                    <div class="meta-data">
                        {% with blog_post.categories.all as categories %}
                        {% if categories %}
                        {% for category in categories|slice:":2" %}
                        <div class="author">
                            <h4>#{{ category }} </h4>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        {% keywords_for blog_post as tags %}
                        {% if tags %}
                        {% spaceless %}
                        <ul class="categories">
                            {% for tag in tags|slice:":3" %}
                            <li><a href="#"><i class="icon-bookmark"></i>{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endspaceless %}
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                    {% block blog_post_list_post_title %}
                        <div class="intro">
                            {% editable blog_post.title %}
                            <h1>
                                <a href="{{ blog_post.get_absolute_url }}">
                                    {{ blog_post.title }}
                                </a>
                            </h1>
                            {% endeditable %}
                        </div>
                    {% endblock %}
                        {% block blog_post_list_post_content %}
                        {% editable blog_post.content %}
                        <div class="text">
                            {{ blog_post.description_from_content|truncatewords_html:100|safe }}
                        </div>
                        {% endeditable %}
                        {% endblock %}
                    <hr>
                    <div class="read-more">
                        <a href="{{ blog_post.get_absolute_url }}">{% trans "Read More.." %}</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </article>
            <!-- end of first article -->
            <div class="clearfix"></div>
        </section>
    {% elif blog_post.choose_template == 3 %}
    {# With side image template #}
        <section class="main">
            <!-- first article -->
            <article class="col-lg-11 col-md-11 col-sm-11 col-xs-12 with-arrow">
                <section class="timestamp">
                    <div id="stamp">
                        <a class="hidden-xs" href="#"><span class="icon-flag icon-large icon-light"></span></a>
                        <a class="visible-xs" href="#"><span class="icon-flag icon-light"></span></a>
                        <div class="meta-time">
                            <div class="date">{{ blog_post.publish_date|date:"d" }}</div>
                            <div class="age">
                                <div class="month">{{ blog_post.publish_date|date:"M" }}</div>
                                <div class="year">{{ blog_post.publish_date.year }}</div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="box">
                    <div class="meta-data">
                        {% with blog_post.categories.all as categories %}
                        {% if categories %}
                        {% for category in categories|slice:":2" %}
                        <div class="author">
                            <h4>#{{ category }} </h4>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        {% keywords_for blog_post as tags %}
                        {% if tags %}
                        {% spaceless %}
                        <ul class="categories">
                            {% for tag in tags|slice:":3" %}
                            <li><a href="#"><i class="icon-bookmark"></i>{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endspaceless %}
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                    <div style="width: 100%">
                        {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                        <div class="pull-left fixed-img col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="{{ MEDIA_URL }}{{ blog_post.featured_image }}" alt="">
                        </div>
                        {% endif %}
                        <div class="pull-left col-lg-6 col-md-6 col-sm-12">
                            <div class="intro">
                                {% editable blog_post.title %}
                                <h1>
                                    <a href="{{ blog_post.get_absolute_url }}">
                                        {{ blog_post.title }}
                                    </a>
                                </h1>
                                {% endeditable %}
                            </div>
                            {% editable blog_post.content %}
                            <div class="text">
                                {{ blog_post.description_from_content|truncatewords_html:100|safe }}
                            </div>
                            {% endeditable %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr>
                    <div class="read-more">
                        <a href="{{ blog_post.get_absolute_url }}">{% trans "Read More.." %}</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </article>
            <!-- end of first article -->
            <div class="clearfix"></div>
        </section>
    {% elif blog_post.choose_template == 4 %}
    {# Tweet with comment template #}
        <section class="main">
            <!-- first article -->
            <article class="col-lg-11 col-md-11 col-sm-11 col-xs-12 with-arrow">
                <section class="timestamp">
                    <div id="stamp">
                        <a class="hidden-xs" href="#"><span class="icon-flag icon-large icon-light"></span></a>
                        <a class="visible-xs" href="#"><span class="icon-flag icon-light"></span></a>
                        <div class="meta-time">
                            <div class="date">{{ blog_post.publish_date|date:"d" }}</div>
                            <div class="age">
                                <div class="month">{{ blog_post.publish_date|date:"M" }}</div>
                                <div class="year">{{ blog_post.publish_date.year }}</div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="box">
                    <div class="comment">
                        <blockquote>
                            {% editable blog_post.title %}
                            <p>
                                <a href="#">{{ blog_post.title }}</a>
                                <br>
                                <cite>Vishwas Sharma</cite>
                            </p>
                            {% endeditable %}
                        </blockquote>
                    </div>
                </div>
            </article>
            <!-- end of first article -->
            <div class="clearfix"></div>
        </section>
    {% endif %}
{% endfor %}

{% endblock main %}