<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs" id="left-content">
    <section class="nano">
        <section class="content">
            <!-- logo -->
            {% block logo %}{% endblock logo %}
            <!-- end logo -->
            
            <!-- navigation -->
            {% block navigation %}{% endblock navigation %}
            <!-- end navigation -->
            <!-- search bar -->
            <article id="search-bar">
                <input type="text" placeholder="Search for..">
                <div class="search-icon">
                    <a href="#"><span class="icon-search"></span></a>
                </div>
            </article>
            <!-- end search bar -->
            <!-- social icons -->
            {% block social_icons %}{% endblock social_icons %}
            <!-- end social icons -->
            <!-- Tweets -->
            <!-- <article id="tweets" class="widget">
                <header>
                    <h3>Tweet</h3>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>    
            </article> -->
            <!-- end tweets -->
            <!-- categries -->
            <article id="categries" class="widget">
                <header>
                    <h3>Categories</h3>
                </header>
                <ul>
                    <li><a href="#">Electronics</a></li>
                    <li><a href="#">Computers</a></li>
                    <li><a href="#">Mechanics</a></li>
                </ul>
            </article>
        </section>
    </section>
</div>