{% extends "base.html" %}

{% block title %}ohai html5 boilerplate{% endblock %}

{% block css %}
{% endblock %}

{% block main %}
	<div id="lettering" class="span8">
		<div>
			<p>A quick brown fox jumps over the lazy dog</p>
		</div>
	</div>
	<div id="illustration"  class="span4">
		<div class="row-fluid">
			<div>
				<img class="middle" src="/img/circle.png" />
			</div>
			<div id="refillus" class="row-fluid" style="background: black;">
				<img class="pull-left" src="/img/icon.png" />
				<div class="pull-left"><h2>Traveller</h2></div>
				<img style="float: right;" src="/img/cycle.png" />
			</div>
		</div>
	</div>
{% endblock %}
